<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title> cats </title>  
  <style>
    *{
      font-family: Arial, Helvetica, sans-serif;
    }
    .cat{
      max-width: 200px;
      border: 1px solid wheat;
      border-radius: 270px;
      display: block;
      margin-top: 10px;
      margin: auto;
    }
    h1{
      background-color: #ba67c8;
      padding: 10px;
      text-align: center;
    }

  </style> 
</head>
<body>
  <div>
      <h1> EJS cats</h1>
      <% for(let data of gatos) {%>          
          <a class="cat" href = "<%= data.url %>">
              <img class="cat" src="<%= data.img %>" alt="<%= data.name %>">
          </a>
      <% } %>
  </div>
</body>
</html>